<h1>RailsBridgeCorp Open Jobs</h1>
<h2>Job Postings</h2>
<table id="example" class="display compact">
	<thead>
	    <tr>
	      <th>Title</th>
	    </tr>
	</thead>
	<tbody>
		<% @jobs.each do |job| %>
			<tr>
				<td><%= job.title %></td>
				<td><%= link_to "Show Posting", job %></td>
			</tr>
		<% end %>
	</tbody>
</table>